services:
  syncthing:
    image: syncthing/syncthing:latest
    container_name: syncthing
    hostname: nllei01mule01
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "com.centurylinklabs.watchtower.scope=syncthing"
    environment:
      - PUID=1000
      - PGID=1000
    ports:
      - "8384:8384"
      - "22000:22000/tcp"
      - "22000:22000/udp"
      - "21027:21027/udp"
    volumes:
      - /srv/syncthing/config:/var/syncthing/config
      - /home/kyriakosp/Documents:/var/syncthing/Documents
      - /srv/vaultwarden/data:/var/syncthing/vaultwarden-data
      - /srv:/srv:ro
    restart: unless-stopped
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower-syncthing
    labels:
      - "com.centurylinklabs.watchtower.scope=syncthing"
    command:
      - --scope=syncthing
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_LABEL_ENABLE=true
      - WATCHTOWER_POLL_INTERVAL=86400
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
